<header class='header'>
      <input type='checkbox' id='menu' class='toogleMenu'>
	  <label for='menu' class='toogleMenu'>Menu</label>
  	<nav class='nav'>
  	  <a href="{{ url_for('index', _anchor='post') }}" class='nav__link'>Блог</a>
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('admin', _anchor='post') }}" class='nav__link'>ADMIN</a>
          <a href="{{ url_for('add_post', _anchor='add_post') }}" class='nav__link'>Добавить запись</a>
          <a href="{{ url_for('logout') }}" class='nav__link'>Выйти</a>
        {% endif %}
        <form class='search' action="{{ url_for('search') }}" method='GET'>
          <input class='search__field' type='text' name='q' placeholder='Search'>
        </form>
      </nav>
      
      <div class='header__info'>
        <div class='header__block-info'>
          {% block info_or_login %}
            {% include '_info_page.html' %}
          {% endblock %}
        </div>
      </div>
      <div class='header__socialmedia'>
      
      </div>
    </header>