{% extends 'base.html' %}

{% block header %}
  {% include '_header.html' %}
{% endblock %}

{% block content %}
  <section class='main'>
      <div class='post' id='post'>
        {% for posts in post.items %}
        <h3 class='post__header'>
          <a style='color: black;' href="{{ url_for('post', id=posts.id, _anchor='post') }}">{{ posts.header }} </a>
          
        </h3>
          <div class='dop_func admin_line'>
          <a class='edit_btn' href="{{ url_for('edit_post', id=posts.id, _anchor='edit_post') }}">Edit</a>
          <a class='del_btn' href="{{ url_for('delite', id=posts.id) }}">Delite</a>
          <div class='com_views'>
            <img class='views' src="{{ url_for('static', filename='images/fi-eye.svg') }}">
            <span class='views_text'>{{ posts.views }}</span>
            <img class='com' src="{{ url_for('static', filename='images/fi-comment.svg') }}">
            <span class='com_text'><a style='color:black;' href="{{ url_for('post', id=posts.id, _anchor='comment-text') }}">{{ comment_ct(posts.id) }}</a></span>
          </div>
        </div>
      {% endfor %}
      {% include '_paginate.html' %}
      </div>
    </section>
{% endblock %}