{% extends 'base.html' %}

{% block header %}
  {% include '_header.html' %}
{% endblock %}

{% block content %}
  <section class='main'>
  	<div class='post'>
  	<h1>Изменить пост</h1>
      {% for message in get_flashed_messages() %}
            <div  class="alert alert-danger" role="alert">
                <span id='block_id' class='notification'>{{ message }}
			    </span>
            </div>
            {% endfor %}
        <form method='POST' action="{{ url_for('edit_post', id=post.id) }}" id='edit_post' class='comment-form__form'>
          {{ form.csrf_token }}
          {{ form.header(class='comment-form__text', placeholder='Header') }}
          {% if form.errors.header %}
            {% for error in form.errors.header %}
              <div style="margin-top: .4em; color: red; font-size: .8em">{{ error }}</div>
            {% endfor %}
          {% endif %}
          {{ form.text(rows='6', class='comment-form__text', placeholder='Text') }}
          {% if form.errors.header %}
            {% for error in form.errors.text %}
              <div style="margin-top: .4em; color: red; font-size: .8em">{{ error }}</div>
            {% endfor %}
          {% endif %}
          <div class='add_com_block'>{{ form.add_comment(class='check_add_comment') }} {{ form.add_comment.label(class='add_comment_label') }}</div>
          {{ form.submit(class='comment-form__btn') }}
        </form>
      </div>
      {{ ckeditor.load() }}
	  {{ ckeditor.config(name='text') }}
    </section>
{% endblock %}