{% extends 'base.html' %}

{% block header %}
  {% include '_header.html' %}
{% endblock %}

{% block content %}
  <section class='main'>
      <div class='post' id='post'>
        {% for posts in post.items %}
        <h2 class='post__header'>
          {{ posts.header }}
        </h2>
        <p class='post__text'>
          {{ posts.text|truncate(240)|safe }}
        </p>
        <a href="{{ url_for('post', id=posts.id, _anchor='post') }}" class='link__post-next'>read more...</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('edit_post', id=posts.id, _anchor='edit_post') }}" class='link__post-next link-edit'>Edit</a>
        {% endif %}
        <div class='post__text-info'>
          <span class='post__info-date'>{{ moment(posts.date).fromNow() }} by {{ posts.user.username }}</span>
        </div>
      {% endfor %}
      
      {% include '_paginate.html' %}
      
      </div>
    </section>
{% endblock %}